.hero
{
  background-image:url('/images/home-hero-small.jpg');
  background-size:cover;
  color:#fff;
}

.hero .overlay
{
  position: absolute;
  top:0;
  left: 0;
  width:100%;
  height:100%;
  z-index: 0;
  opacity: 0.8;
  background: #2690e1; /* Old browsers */
  background: linear-gradient(135deg, lighten(#000,10%) 50%,lighten(#000,1%) 50%);
}

.hero .wrap
{
  min-height:100vh;
  position: relative;
  z-index: 1;

}

.hero .wrap .section-summary
{
  color: #fff;
  margin-top:75px;
}

.hero .section-rule
{
  height:20px;
  background-color:#679c42;
}

@include breakpoint($medium) { 

  .hero
  {
    background-image:url('/images/home-hero-mock2.jpg');
  }

  .hero .wrap
  {
    min-height:80vh;
  }

  .hero .section-heading
  {
    font-size:80px;
    font-weight: 600;
    margin: 0;
  }

  .hero .section-subheading
  {
    font-size:24px;
     margin: 0;
  }

}
