.home-intro .section-rule
{
  height:20px;
  background-color:#679c42;
}

.home-intro .section-heading
{
  font-size:36px;
}

.home-intro .section-subheading
{
  display:flex;
  color:$green;
  list-style:none;
  margin:0;
  padding:0;
  justify-content:center;
  margin-bottom:20px;

  li {
    text-transform:uppercase;
    margin:0;
  }

  li:after{
    content:"•";
    padding:0 15px;
  }

  li:last-child:after{
    content:"";
    padding:0;
  }
}

