
@include breakpoint($medium) { 

 
  .home-stories .section-summary
  {
    display: flex;
    justify-content: center;
    > div { width:50%; }
  }

  .story-chroma
  {
    background-image: url('/images/chroma.jpg');
  }

  .story-sfymca
  {
    background-image: url('/images/souixfallsymca.jpg');
  }

  .story-care {
    background-image: url('/images/care.jpg');
  }

  .story-sfymca .wrap
  {
    min-height: 50vw;
  }
 
}

