.bg-open-ymca
{
  background-image:url('/images/open-y-platform.jpg');
}

.bg-openy-intro
{
  background-image:url('/images/open-y-platform-responsive.jpg');
}

.story-yoc
{
  background-image:url('/images/open-y-platform-old-colony-ymca.jpg');
}

.story-openy-sfymca
{
  background-image:url('/images/open-y-platform-sioux-falls-ymca.jpg');
}

.story-openy-wsymca
{
  background-image:url('/images/open-y-platform-west-suburban-ymca.jpg');
}

.story-openy-sdymca
{
  background-image:url('/images/open-y-platform-southern-district-ymca.jpg');
}


.story-openy-mwymca
{
  background-image:url('/images/open-y-platform-metrowest-ymca.jpg');
}
