header
{
  position: fixed;
  width: 100%;
  height: 100px;
  z-index: 100;
  background-color: white;
  top: 0px;
  border-bottom: 1px solid #ccc;
}

header .container
{
  display:flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
}

.logo
{
  width: auto;
  height: 100%;
  display: flex;
  padding:15px;
  margin:0;
  align-items: flex-end;
  text-decoration: none;
}

.logo img
{
  width: auto;
  height: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

.wordmark
{
  font-family: 'Open Sans',arial,sans-serif;
  font-weight: 300;
  font-size: 26px;
  color: #333;
}

header .wordmark {
  display:none;
}

.menu-toggle
{
  display: flex;
  height: 19px;
  justify-content: space-between;
  flex-direction: column;
  width: 28px;
  cursor: pointer;
}

.menu-toggle span
{
  height: 3px;
  width: 28px;
  display: block;
  background: #3fa208;
  border-radius: 6px;
}

nav{
  display:none;
}

header .phone
{
  display:flex;
  justify-content:center;
  align-items:center;
  height:30px;
  font-size:14px;
  color:#fff;
  background:$green;
}

header .phone a
{
  color:#fff;
  display:block;
  height:inherit;
  display:flex;
  align-items:center;
  flex-flow: nowrap;
}

header .phone span
{
  white-space: nowrap;
}

header .phone img
{
  width: auto;
  height: 100%;
  padding:8px;
}

.mobile-nav 
{
  position: absolute;
  top: 0px;
  padding: 0px;
  left: -100%;
  height: 100%;
  width: 100%;
  z-index: 1000;
  display: flex;
  flex-direction: row-reverse;
  overflow: hidden;
  transition: left 500ms ease 0s;
}

.mobile-nav .toggle
{
  cursor: pointer;
  background-color: none;
  width: 10%;
  height: 100%;
}

.mobile-nav .nav
{
  width: 90%;
  height: 100%;
  background-color: white;
  padding:20px;
  overflow:auto;
  display:flex;
  flex-direction: column;
}

.mobile-nav .nav img
{
  height:100%;
  width:auto;
}

.mobile-nav .nav a
{
  display:block;
  text-align:center;
  border-bottom:1px solid #efefef;
  padding:10px 0;
}

.mobile-nav .nav a:first-child
{
  height: 70px;
  margin-bottom:20px;
  border:none;
}

body.show-mobile-nav
{
  position: fixed;
}

body.show-mobile-nav .mobile-nav
{
  left: 0;
}

body.show-mobile-nav .mobile-nav .toggle
{
  background-color: rgba(0, 0, 0, 0.2);
}


@include breakpoint($medium) { 

  .wordmark
  {
    display:none;
  }

  nav{
    display:block;
  }

  .menu-toggle
  {
    display:none;
  }
}
