.hero
{
  min-height: 400px;
  padding: 0px;
  position: relative;
  background-color: #f3f3f3;
}

.hero-content
{
  position: absolute;
  z-index:20;
  width: 100%;
  min-height: 400px;
  color:#fff;  
  display:flex;
  align-items:center;
}

.hero-content > div
{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
}

.hero-content .head {
  font-size:60px;
  font-weight:bold;
  margin:0 0 10px 0;
  padding:0;
  line-height:1;
}

.hero-content .subhead {
  font-size:24px;
  margin:0;
  padding:0;
  color:$green;
}

.hero-background {
  min-height: 400px;
  bottom: 0px;
  position: absolute;
  z-index:10;
  top: 0px;
  width: 100%;
}

.hero-background > div {
  background:#000;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
