.hero
{
  min-height: 100vh;
  position: relative;
  padding: 0px;
  display: flex;
  align-items: center;
}

.hero-content
{
  position: absolute;
  z-index:20;
  width: 100%;
  min-height: 100vh;
  display:flex;
  align-items:center;
}

.hero-content > div
{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
  margin-top: 50px;
}

.hero-background {
  min-height: 400px;
  bottom: 0px;
  position: absolute;
  z-index:10;
  top: 0px;
  width: 100%;
}

.hero-background > div {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.hero-heading {
  @extend h1;
  font-size:2rem;
}

.hero-subheading
{
  @extend h2;
  font-size: $size-default;
}

@include breakpoint($medium) { 

  .hero-heading {
    font-size:60px;
  }

}


/*

.hero-background > div {
  background:#000;
}

.hero
{
  background-color: #f3f3f3;
}

.hero-content
{
  color:#fff;  
}



.hero-content .subhead {
  font-size:24px;
  margin:0;
  padding:0;
  color:$green;
}
*/
