.container
{
  width: 90%;
  max-width:1200px;
  margin-left: auto;
  margin-right: auto;
}

main {
  margin-top:120px;
  margin-bottom:20px;
}

@include breakpoint($medium) { 
  main {
    margin-top:140px;
  }
}
