.white { color:#fff; }
.green { color: $green; }
.black { color: #000; }
.gray, .grey{ color: darken($light-grey,35%);  }
.bg-light-gray { background-color:$light-grey; }
.bg-green { background-color:#669933; }
