.justify-between
{
  justify-content:space-between;
}


.grid-2col {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 10px;
}

.grid-3col {
  display: grid;
  grid-template-columns: 33% 33%  33%;
  grid-gap: 10px;
}

.grid-4col {
  display: grid;
  grid-template-columns: 25% 25%  25% 25%;
  grid-gap: 10px;
}

.flex-blocks
{
  margin:0;
  padding:0;
  list-style:none;
  display:flex;
  flex-wrap:wrap;
}
.flex-blocks > li
{
  flex:1 1 20%;
  background-color: #fff;
  border:solid 1px #ccc;
  border-radius:10px;
  min-height:200px;
  display:block;
  margin:5px;
  padding:20px;
  display:flex;
  justify-content:center;
  align-items: flex-start;
  box-shadow:2px 2px 5px rgba(0,0,0,0.1);
}

.flex-blocks-center > li
{
  align-items: center;
}

.flex-blocks-nowrap
{
  flex-wrap:nowrap;
}

.flex-blocks ul
{
  list-style:none;
  margin:0;
  padding:0;
  text-align:left;
}

@include breakpoint($medium) { 

  .flex
  {
    display:flex;
  }

  .flex-panels
  {
    display:flex;
    align-items: center;
    justify-content: space-between;
  }



  .flex-panels > div
  {
    padding:20px;
  }

  $flex-column: 100%/12;

  .flex-panel-1 { width: $flex-column * 1; }
  .flex-panel-2 { width: $flex-column * 2; }
  .flex-panel-3 { width: $flex-column * 3; }
  .flex-panel-4 { width: $flex-column * 4; }
  .flex-panel-5 { width: $flex-column * 5; }
  .flex-panel-6 { width: $flex-column * 6; }
  .flex-panel-7 { width: $flex-column * 7; }
  .flex-panel-8 { width: $flex-column * 8; }
  .flex-panel-9 { width: $flex-column * 9; }
  .flex-panel-10 { width: $flex-column * 10; }
  .flex-panel-11 { width: $flex-column * 11; }
  .flex-panel-12 { width: $flex-column * 12; }

  .flex-split
  {
    align-items:flex-start;  
  }

  .flex-split > div
  {
    width:50%;
  }


}
