<!-- index.nunjucks -->
{% extends "layout.nunjucks" %}

{% block title %}
  FreshJones - Drupal Website Development
{% endblock %}

{% block header %}
  {{header.active('services')}}
{% endblock %}

{% block main %} 

  <section class="hero-stark">
    <div class="wrap wrap-center">
      <div class="section-summary">
        <h1 class="section-topic">Drupal Website Development</h1>
        <h2 class="section-heading">Large-scale web applications with Drupal CMS</h2>
        <p class="section-lead">Get enterprise-grade features without enterprise-grade price.</p>
        <p>{{ button.link('/contact.html', 'Learn More') }}</p>
      </div>
    </div>
  </section>

  <section class="services-intro">
    <div class="wrap wrap-center wrap-center-narrow">
      <div class="section-spaced">
        <div class="section-summary">
          <div class="section-heading">Drupal, powerful open-source CMS</div>
          <p class="section-lead bold">Drupal&hellip;It's a funny name that sound like something that happens to us as we get older.</p>
          <p>But actually...</p>
          <p>Drupal is a powerful, secure and proven content management system.</p>
          <p>Capable of handling large-scale, complex data requirements, Drupal is ideally-suited for e-commerce, nonprofit, government, university, and manufacturing organizations. Over a million websites worldwide use Drupal CMS for their website including Tesla, Dartmouth, the NBA and NASA.</p>
          <p>The advantages of a Drupal website are numerous, its open-source and free to use, with no licensing fees, its extendible and customizable, capable of handling any business requirement from multilingual support, sophisticated publishing workflows and microsites and there is a huge worldwide community of developers working constantly to keep things up-to-date and secure. </p>
          <p>It’s like having thousands of coders working for you for free!</p>
          <p>With Drupal CMS you and your staff can easily administer and manage all aspects of your website’s content and capabilities. Giving you complete control over how and when your content is scheduled, approved and launched.</p>
          <p>If your business needs a powerful website, consider a strategically-built, expertly designed Drupal website. A website build with your business goals, your brand, your products and services and your audience in mind from the start so that what you get is a website designed to grow your business and accomplish your organizational goals and is structured to provide your business with support and the ability to pivot as market and business needs change and evolve.</p>
        </div>
      </div>
    </div> 
  </section>

  <section class="services-intro">
    <div class="wrap wrap-center wrap-center-narrow">
      <div class="section-spaced">
        <div class="section-summary">
          <h1 class="section-heading">Why Would I Want a Drupal Website?</h1>
        </div>
        <div>
          <ul class="section-list section-list-bullets">
            <li>Is open-source</li>
            <li>Huge community and collaboration support</li>
            <li>Very extendable - modular</li>
            <li>Enterprise grade - most powerful open-source CMS</li>
            <li>You need publishing workflow with moderation</li>
            <li>Highly customizable</li>
            <li>Quickly react to customer / market demand</li>
            <li>Mobile-ready</li>
            <li>SEO Friendly</li>
            <li>Easily adapt to your businesses data requirements</li>
            <li>Scalability</li>
            <li>Translation and localization</li>
            <li>Content delivery platform</li>
            <li>Integration</li>
            <li>Security</li>
            <li>Large content and complex data sites</li>
            <li>Large functional requirements</li>
            <li>Multiple users</li>
            <li>Multiple sites</li>
          </ul>
        </div>
      </div>
    </div> 
  </section>

  <section class="services-intro">
    <div class="wrap wrap-center wrap-center-narrow">
      <div class="section-spaced">
        <div class="section-summary">
          <h1 class="section-heading">How can FreshJones help with Drupal Development</h1>
        </div>
        <div>
          <ul class="section-list section-list-bullets">
            <li>Custom module development</li>
            <li>Custom theme and responsive design</li>
            <li>Installation and hosting</li>
            <li>Data import and migration</li>
            <li>Upgrades/updates/maintenance</li>
            <li>Migrate from some other CMS to Drupal 8</li>
            <li>Strategy</li>
            <li>We’re experts</li>
            <li>Optimization</li>
            <li>High-performance</li>
            <li>handle data, site and content migrations of any size and complexity</li>
            <li>Agile methodology</li>
            <li>Creative beautiful front-end designers</li>
            <li>legacy/internal systems content integrations</li>
            <li>Support</li>
            <li>Backup and restore</li>
            <li>Easy to work with</li>
            <li>Version controlled sites</li>
            <li>Quality</li>
          </ul>
        </div>
      </div>
    </div> 
  </section>

  <section class="services-intro">
    <div class="wrap wrap-center wrap-center-narrow">
      <div class="section-spaced">
        <div class="section-summary">
          <h1 class="section-heading">How can FreshJones help with Drupal Development</h1>
        </div>
        <div>
          <ul class="section-list section-list-bullets">
            <li>Complex site requirements</li>
            <li>Drupal is ideal for complex, highly customized sites that require scalability and large amounts of content to be organized.</li>
            <li>You need enterprise level features such as security</li>
            <li>You have a lot of different types of content to display and that content is complex with a lots of relationships or dependencies on other content</li>
            <li>You need localization or multilingual support</li>
            <li>You want the power of an enterprise grade proprietary CMS but without the cost</li>
            <li>You have a budget and can extend your website launch anywhere between 30 - 90 days</li>
            <li>You want to use your site as a publishing platform where through an api your sites content can be used to populate other services, such as your mobile apps, google or amazon product feeds, distributor or related websites, syndications, etc.</li>
          </ul>
        </div>
      </div>
    </div> 
  </section>

  <section class="services-intro">
    <div class="wrap wrap-center wrap-center-narrow">
      <div class="section-spaced">
        <div>
          <ul class="flex-blocks flex-blocks-center">
            <li>Drupal Development</li>
            <li>Drupal Theme Development</li>
            <li>Drupal Module Development</li>
            <li>Drupal SEO</li>
            <li>Drupal Support, Maintenance & Site Optimization</li>
            <li>Drupal Training</li>
            <li>Drupal Migration & Upgrades</li>
          </ul>
        </div>
        <div>
          <p>Not sure which solution is right for you? Give us a call we’ll help you determine the best options for your needs.</p>
          {{ button.link('/strategic-planning.html', 'Lets get started') }}
        </div>
      </div>
    </div> 
  </section>

  <section class="services-intro">
    <div class="wrap wrap-center wrap-center-narrow">
      <div class="section-spaced">
        <div class="section-summary">
          <h1 class="section-heading">Why would I need help developing a Drupal Website</h1>
        </div>
        <div>
          <ul class="section-list section-list-bullets">
            <li>You have a business to run!</li>
            <li>Your not a designer and care about providing a top-notch customer experience that is unique and specific to your business</li>
            <li>Your not a developer and want to ensure you site is secure, fast, error-free</li>
            <li>Your not sure how what is required of hosting a high-performing drupal site</li>
            <li>You want to ensure your site is optimized for search engines</li>
            <li>You want to ensure your website is working hard for your business and want to ensure its built with a strategic approach and that it is able to evolve and change as your business need do</li>
          </ul>
        </div>
      </div>
    </div> 
  </section>

  <section class="services-intro">
    <div class="wrap wrap-center wrap-full wrap-center-narrow">
      <div class="section-spaced">
        <div class="section-summary">
          <h1 class="section-heading">Our Process</h1>
        </div>
        <div>
          <ul class="flex-blocks">
            <li>
              <div>
                <h3>Discovery and Strategy</h3>
              </div>
            </li>
            <li>
              <div>
                <h3>Information Architecture</h3>
              </div>
            </li>
            <li>
              <div>
                <h3>Creative Design</h3>
              </div>
            </li>
            <li>
              <div>
                <h3>Programming</h3>
              </div>
            </li>
            <li>
              <div>
                <h3>Deployment</h3>
              </div>
            </li>
            <li>
              <div>
                <h3>Determine</h3>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div> 
  </section>

  <section class="services-intro">
    <div class="wrap wrap-center wrap-center-narrow">
      <div class="section-spaced">
        <div class="section-summary">
          <h1 class="section-heading">What problems will a drupal website help solve</h1>
        </div>
        <div>
          <ul class="section-list section-list-bullets">
            <li>Get to market faster</li>
            <li>Large community of developers</li>
            <li>Grows with your business</li>
            <li>Easily integrates with your complex internal data</li>
            <li>Publish once use anywhere - api-driven</li>
            <li>Integrates with most any other service</li>
            <li>Economical choice - open-source</li>
            <li>Full control of site, design, experience, everything</li>
          </ul>
        </div>
      </div>
    </div> 
  </section>

  <section class="services-intro">
    <div class="wrap wrap-center wrap-center-narrow">
      <div class="section-spaced">
        <div class="section-summary">
          <h1 class="section-heading">What makes a good Drupal website?</h1>
        </div>
        <div>
          <ul class="section-list section-list-bullets section-list-columns">
            <li>Fast </li>
            <li>Responsive - Mobile</li>
            <li>Relevant content</li>
            <li>Great user experience</li>
            <li>Easy to use navigation</li>
            <li>Intuitive user interface</li>
            <li>Only install necessary modules</li>
            <li>Strategically focused on business goals</li>
            <li>Designed around target personas</li>
            <li>Organized</li>
            <li>Consistent design and ui</li>
            <li>Accessibility</li>
            <li>Search optimized</li>
            <li>Voice Optimized</li>
            <li>Schema</li>
            <li>On Brand</li>
            <li>Good typography</li>
            <li>Optimized code</li>
            <li>Coding standards</li>
            <li>Version controlled</li>
            <li>Easy to make edits</li>
            <li>SSL</li>
            <li>Integrated</li>
            <li>Reliable</li>
            <li>Engaging</li>
            <li>Easy Site Search</li>
            <li>Call to action easy to find</li>
            <li>Easy to see and read</li>
            <li>Focus on the user</li>
            <li>Focus on quality</li>
            <li>Keep it simple</li>
            <li>Be authentic</li>
          </ul>
        </div>
      </div>
    </div> 
  </section>

{% endblock %}
