<!-- index.nunjucks -->
{% extends "layout.nunjucks" %}

{% block title %}
  FreshJones - Laravel Website Development
{% endblock %}

{% block header %}
  {{header.active('services')}}
{% endblock %}

{% block main %} 

  <section class="hero-stark">
    <div class="wrap wrap-center">
      <div class="section-summary">
        <h1 class="section-topic">Laravel Website Development</h1>
        <h2 class="section-heading">Get your message in your customers hands</h2>
        <p class="section-lead">Use direct mail to build personal connections with your customers.</p>
        <p>{{ button.link('/contact.html', 'Learn More') }}</p>
      </div>
    </div>
  </section>

  <section class="services-intro">
    <div class="wrap wrap-center wrap-center-narrow">
      <div class="section-spaced">
        <div>
          <ul class="flex-blocks flex-blocks-center">
            <li>Laravel Development</li>
            <li>Laravel Theme Development</li>
            <li>Laravel SEO</li>
            <li>Laravel Support, Maintenance & Site Optimization</li>
            <li>Laravel Training</li>
            <li>Laravel Migration & Upgrades</li>
          </ul>
        </div>
        <div>
          <p>Not sure which solution is right for you? Give us a call we’ll help you determine the best options for your needs.</p>
          {{ button.link('/strategic-planning.html', 'Lets get started') }}
        </div>
      </div>
    </div> 
  </section>

  <section class="services-intro">
    <div class="wrap wrap-center wrap-center-narrow">
      <div class="section-spaced">
        <div class="section-summary">
          <h1 class="section-heading">Why would I need help developing a Laravel Website</h1>
        </div>
        <div>
          <ul class="section-list section-list-bullets">
            <li>You have a business to run!</li>
            <li>Your not a designer and care about providing a top-notch customer experience that is unique and specific to your business</li>
            <li>Your not a developer and want to ensure you site is secure, fast, error-free</li>
            <li>Your not sure how what is required of hosting a high-performing drupal site</li>
            <li>You want to ensure your site is optimized for search engines</li>
            <li>You want to ensure your website is working hard for your business and want to ensure its built with a strategic approach and that it is able to evolve and change as your business need do</li>
          </ul>
        </div>
      </div>
    </div> 
  </section>

  <section class="services-intro">
    <div class="wrap wrap-center wrap-full wrap-center-narrow">
      <div class="section-spaced">
        <div class="section-summary">
          <h1 class="section-heading">Our Process</h1>
        </div>
        <div>
          <ul class="flex-blocks">
            <li>
              <div>
                <h3>Discovery and Strategy</h3>
              </div>
            </li>
            <li>
              <div>
                <h3>Information Architecture</h3>
              </div>
            </li>
            <li>
              <div>
                <h3>Creative Design</h3>
              </div>
            </li>
            <li>
              <div>
                <h3>Programming</h3>
              </div>
            </li>
            <li>
              <div>
                <h3>Deployment</h3>
              </div>
            </li>
            <li>
              <div>
                <h3>Determine</h3>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div> 
  </section>

  <section class="services-intro">
    <div class="wrap wrap-center wrap-center-narrow">
      <div class="section-spaced">
        <div class="section-summary">
          <h1 class="section-heading">What problems will a laravel website help solve</h1>
        </div>
        <div>
          <ul class="section-list section-list-bullets">
            <li>Get to market faster</li>
            <li>Large community of developers</li>
            <li>Grows with your business</li>
            <li>Easily integrates with your complex internal data</li>
            <li>Publish once use anywhere - api-driven</li>
            <li>Integrates with most any other service</li>
            <li>Economical choice - open-source</li>
            <li>Full control of site, design, experience, everything</li>
          </ul>
        </div>
      </div>
    </div> 
  </section>

  <section class="services-intro">
    <div class="wrap wrap-center wrap-center-narrow">
      <div class="section-spaced">
        <div class="section-summary">
          <h1 class="section-heading">What makes a good Laravel website?</h1>
        </div>
        <div>
          <ul class="section-list section-list-bullets section-list-columns">
            <li>Fast</li>
            <li>Responsive - Mobile</li>
            <li>Relevant content</li>
            <li>Great user experience</li>
            <li>Easy to use navigation</li>
            <li>Intuitive user interface</li>
            <li>Only install necessary modules</li>
            <li>Strategically focused on business goals</li>
            <li>Designed around target personas</li>
            <li>Organized</li>
            <li>Consistent design and ui</li>
            <li>Accessibility</li>
            <li>Search optimized</li>
            <li>Voice Optimized</li>
            <li>Schema</li>
            <li>On Brand</li>
            <li>Good typography</li>
            <li>Optimized code</li>
            <li>Coding standards</li>
            <li>Version controlled</li>
            <li>Easy to make edits</li>
            <li>SSL</li>
            <li>Integrated</li>
            <li>Reliable</li>
            <li>Engaging</li>
            <li>Easy Site Search</li>
            <li>Call to action easy to find</li>
            <li>Easy to see and read</li>
            <li>Focus on the user</li>
            <li>Focus on quality</li>
            <li>Keep it simple</li>
            <li>Be authentic</li>
          </ul>
        </div>
      </div>
    </div> 
  </section>

{% endblock %}
