<!-- index.nunjucks -->
{% extends "layout.nunjucks" %}

{% block title %}
  FreshJones - Marketing Solutions for Marketing Managers
{% endblock %}

{% block header %}
  {{header.active('solutions')}}
{% endblock %}

{% block main %} 
 
  <section class="hero-stark">
    <div class="wrap wrap-center">
      <div class="section-summary">
        <h1 class="section-topic">Solutions for Marketing Managers</h1>
        <h2 class="section-heading">Marketing solutions to make your job easier</h2>
        <p class="section-lead">Helping marketing managers expand their in-house capabilities and expand their capabilities.</p>
      </div>
    </div>
  </section>

  <section class="services-intro">
    <div class="wrap wrap-center wrap-center-narrow">
      <div class="section-spaced">
        <div class="section-summary">
          <h1 class="section-heading">Are <span class="bold">you</span> the marketing department in your company?</h1>
          <p class="section-lead mb2">If so you've got a lot on your plate&hellip;there are a ton of different marketing channels to take advantage of and different ways to get you business noticed, generate leads and bring customers into your business. Staying on top of all of them, determining where to best spend you limited marketing budget and knowing whether or not your efforts are producing results all by yourself can be a daunting, stressful and overwhelming job for sure!</p>

          <p class="section-lead mb2 bold">We get it.</p>

           <p class="section-lead mb2">As the person in charge of in your company, you have to answer to sales, management, customer service, finance, etc. And everyone wants you to create magic, and to create said magic within a very limited budget.</p>

          <p class="section-lead mb2">But it doesn’t have to be a struggle. With our range of services and capabilities we can work together to build and implement a marketing strategy no matter what unique challenges your business faces. We'll help you strategically plan your iniatives so that you feel secure and in complete control of the direction you're heading, we'll help build and implement that plan with results-driven energy and we'll help you measure what's important, testing and optimizing our efforts as we go. The results? You'll accomplish your businesses marketing goals and you'll do it with ease, less stress and even have fun.</p>
          <p class="section-lead mb2">Plus your head honcho will be blown away by your efforts!</p>
          <p>{{ button.scrollto('schedule', 'Sound Good? Lets Talk') }}</p>
        </div>
      </div>
    </div> 
  </section>

  <section class="services-intro">
    <div class="wrap wrap-center wrap-center-narrow">
      <div class="section-spaced">
        <div class="section-summary">
          <h1 class="section-heading">How FreshJones can help your marketing efforts</h1>
          <ul class="section-list">
            <li>Instant team of seasoned professionals that have your back</li>
            <li>Get the right advice, plan strategically and implement with a result-driven attitude</li>
            <li>Data-driven quantifiable marketing that allow you to prove your efforts are working successfully</li>
            <li>Reduce stress and overwhelm trying to manage and maintain a complete marketing system on your own</li>
            <li>Know you have someone you can turn to when your in a jam and you need help without having to hand-hold or worry it won't get done or it won't get done correctly</li>
          </ul>
        </div>
      </div>
    </div> 
  </section>

  {{playbooks.consult('Lets Talk','marketing help for marketing managers')}}

{% endblock %}
