<!-- index.nunjucks -->
{% extends "layout.nunjucks" %}

{% block title %}
  FreshJones - Marketing Solutions for Executives
{% endblock %}

{% block header %}
  {{header.active('services')}}
{% endblock %}

{% block main %} 
 
  <section class="hero-stark">
    <div class="wrap wrap-center">
      <div class="section-summary">
        <h1 class="section-topic">Solutions for Executives</h1>
        <h2 class="section-heading">You Don't Need Marketing. You Need Results.</h2>
        <p class="section-lead">Helping executives increase their companies revenue, build awareness and get results.</p>
      </div>
    </div>
  </section>

  <section class="services-intro">
    <div class="wrap wrap-center wrap-center-narrow">
      <div class="section-spaced">
        <div class="section-summary">
          <h1 class="section-heading">Strategy and direction is what you do.</h1>
          <p class="section-lead mb2">As a leader in your business, it's your job is to ensure your company is moving in the right direction, that you have a strategy and vision for the future success of the business. Ensuring your company has the proper growth strategy in place and is able to systematically plan, implement, measure and improve upon that strategy is key to any businesses success.</p>
          <p class="section-lead mb2">We can help make you job easy. Everything we do starts with a strategic mindset. We'll work with you and your team, learn about your business, understand your markets, products, services, competitive landscape and unique opportunities and challenges. From there we'll help you and your team build and implement a growth plan that helps ensure the success of your business and we won't stop there, we'll continue to help measure, test, learn, optimize as we go continuing to refine and improve our results.</p>
          <p class="section-lead mb2">Our extensive range of capablities and seasoned expertise allows us to provide insight on any type of unique business challenge your company needs to address and roll up our sleeve and help solve those problems in a systematic and measurable way.</p>
          <p>{{ button.scrollto('schedule', 'Sound Interesting? Lets Talk') }}</p>
        </div>
      </div>
    </div> 
  </section>

  {{playbooks.consult('Lets Talk','marketing help for executives')}}

{% endblock %}
