<!-- index.nunjucks -->
{% extends "layout.nunjucks" %}

{% block title %}
  FreshJones - Marketing Solutions for Technology Managers
{% endblock %}

{% block header %}
  {{header.active('services')}}
{% endblock %}

{% block main %} 
 
  <section class="hero-stark">
    <div class="wrap wrap-center">
      <div class="section-summary">
        <h1 class="section-topic">Marketing for Technology Managers</h1>
        <h2 class="section-heading">Martech solutions that make your job easier</h2>
        <p class="section-lead">Helping technology managers and executives manage the technical requirements and needs of their companies.</p>
      </div>
    </div>
  </section>

  <section class="services-intro">
    <div class="wrap wrap-center wrap-center-narrow">
      <div class="section-spaced">
        <div class="section-summary">
          <h1 class="section-heading">You're department is pretty busy these days&hellip;</h1>
          <p class="section-lead mb2">&hellip;tech can help in every aspect of a business and as such all of your comapnies departments have tech requirements or projects they'd like to get done. As a technology manager its your job to determine how best to help each of your departments get the tools they need, ensure there isn't redundancy or overlap needs between departments, determine the best tool for each individual department while simulataneously considering the business as a whole, juggling your staff to build, install, configure and maintain these tools and that's all without mentioning budget, security, infrastructure, support, training etc, etc.&hellip;</p>
          <p class="section-lead mb2">We feel your pain, and we're happy to help. We have the experience and capabilities to help you strategically determine, implement and maintain the marketing technology requirements of your business. From corporate intranets, api-driven CRM integrations, enterprise level data-driven mobile and web applications we can help you deliver the solutions your business needs with the confidence and security of knowing that you've looked at things from all angles and made the right decisions.</p>
          <p class="section-lead mb2">We have the expertise and capabilities to work in a wide array of marketing technologies, we listen and help make recommendations and suggest potential solutions based on your unique business challenges and requirements. Our flexible agile project management methodology keeps your projects on-time and on-budget and allows you and your stakeholders to pivot and adjust things as projects progress instead of being locked into something at the beginning the project and dealing with endless change orders, added costs and overdue projects.</p>
          <p>{{ button.scrollto('schedule', 'Sound Good? Lets Talk') }}</p>
        </div>
      </div>
    </div> 
  </section>

  <section class="home-services">
    <div class="wrap wrap-full wrap-center">
      <div>
        <div class="section-summary mb3">
          <div>
            <h2 class="section-heading">Marketing Technology Capabilities</h2>
            <p class="section-lead">Here's a list of the technologies and techniques we'll use to build and implement your marketing tech requirements.</p>
          </div>
        </div>
        <div class="technology-list">
          {% include 'partials/technologies.nunjucks' %}
        </div>
      </div>
    </div> 
  </section>


<section class="home-services">
  <div class="wrap wrap-center">
    <div>
      <div class="section-summary">
        <div>
          <h2 class="section-heading">Why Consider Us?</h2>
          <p class="section-lead">Depending on your needs, requirements or preferences we offer expertise in the following areas</p>
        </div>
      </div>
      <div class="section-divider">
        <div></div>
      </div>
      <div class="column-list">
        <div>
          <div class="icon">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
 viewBox="0 0 39 52.8" style="enable-background:new 0 0 39 52.8;" xml:space="preserve">
            <g>
              <path class="st0" d="M34.4,52.7H4.6c-2.5,0-4.6-2.1-4.6-4.6V4.6C0,2.1,2.1,0,4.6,0h29.8C36.9,0,39,2.1,39,4.6v43.6
                C39,50.7,36.9,52.7,34.4,52.7z M4.6,2C3.2,2,2,3.2,2,4.6v43.6c0,1.4,1.2,2.6,2.6,2.6h29.8c1.4,0,2.6-1.2,2.6-2.6V4.6
                C37,3.2,35.8,2,34.4,2H4.6z"/>
              <g>
                <line class="st1" x1="1.2" y1="8.7" x2="37.8" y2="8.7"/>
                <rect x="1.2" y="7.7" class="st0" width="36.5" height="2"/>
              </g>
              <g>
                <line class="st1" x1="0.9" y1="42.7" x2="38.1" y2="42.7"/>
                <rect x="0.9" y="41.7" class="st0" width="37.2" height="2"/>
              </g>
              <circle class="st0" cx="19.5" cy="4.7" r="1"/>
              <path class="st0" d="M25.1,48H13.9c-0.4,0-0.8-0.4-0.8-0.8l0,0c0-0.4,0.4-0.8,0.8-0.8h11.2c0.4,0,0.8,0.4,0.8,0.8l0,0
                C25.9,47.6,25.5,48,25.1,48z"/>
              <g>
                <path class="st0" d="M34.2,38.2H5V13h29.2V38.2z M7,36.2h25.2V15H7V36.2z"/>
              </g>
              <g>
                <path class="st0" d="M19.6,33.3c-4.2,0-7.7-3.4-7.7-7.7c0-4.2,3.4-7.7,7.7-7.7c4.2,0,7.7,3.4,7.7,7.7
                  C27.2,29.8,23.8,33.3,19.6,33.3z M19.6,19.9c-3.1,0-5.7,2.5-5.7,5.7c0,3.1,2.5,5.7,5.7,5.7c3.1,0,5.7-2.5,5.7-5.7
                  C25.2,22.5,22.7,19.9,19.6,19.9z"/>
              </g>
            </g>
            </svg>
          </div>
          <div>
            <h3>Security</h3>
            <p>We take measures to ensure that your company’s online infrastructure is secure and running efficiently and effectively.</p>
          </div>
        </div>
        <div>
          <div class="icon">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
 viewBox="0 0 39 52.8" style="enable-background:new 0 0 39 52.8;" xml:space="preserve">
            <g>
              <path class="st0" d="M34.4,52.7H4.6c-2.5,0-4.6-2.1-4.6-4.6V4.6C0,2.1,2.1,0,4.6,0h29.8C36.9,0,39,2.1,39,4.6v43.6
                C39,50.7,36.9,52.7,34.4,52.7z M4.6,2C3.2,2,2,3.2,2,4.6v43.6c0,1.4,1.2,2.6,2.6,2.6h29.8c1.4,0,2.6-1.2,2.6-2.6V4.6
                C37,3.2,35.8,2,34.4,2H4.6z"/>
              <g>
                <line class="st1" x1="1.2" y1="8.7" x2="37.8" y2="8.7"/>
                <rect x="1.2" y="7.7" class="st0" width="36.5" height="2"/>
              </g>
              <g>
                <line class="st1" x1="0.9" y1="42.7" x2="38.1" y2="42.7"/>
                <rect x="0.9" y="41.7" class="st0" width="37.2" height="2"/>
              </g>
              <circle class="st0" cx="19.5" cy="4.7" r="1"/>
              <path class="st0" d="M25.1,48H13.9c-0.4,0-0.8-0.4-0.8-0.8l0,0c0-0.4,0.4-0.8,0.8-0.8h11.2c0.4,0,0.8,0.4,0.8,0.8l0,0
                C25.9,47.6,25.5,48,25.1,48z"/>
              <g>
                <path class="st0" d="M34.2,38.2H5V13h29.2V38.2z M7,36.2h25.2V15H7V36.2z"/>
              </g>
              <g>
                <path class="st0" d="M19.6,33.3c-4.2,0-7.7-3.4-7.7-7.7c0-4.2,3.4-7.7,7.7-7.7c4.2,0,7.7,3.4,7.7,7.7
                  C27.2,29.8,23.8,33.3,19.6,33.3z M19.6,19.9c-3.1,0-5.7,2.5-5.7,5.7c0,3.1,2.5,5.7,5.7,5.7c3.1,0,5.7-2.5,5.7-5.7
                  C25.2,22.5,22.7,19.9,19.6,19.9z"/>
              </g>
            </g>
            </svg>
          </div>
          <div>
            <h3>Quality Assurance</h3>
            <p>Before we take your website live, we put our coding to the test through an extensive quality assurance process. With over 100 check points to review, including security, site speed, and functionality, we ensure that your website is prepared for its launch.</p>
          </div>
        </div>
        <div>
          <div class="icon">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
 viewBox="0 0 39 52.8" style="enable-background:new 0 0 39 52.8;" xml:space="preserve">
            <g>
              <path class="st0" d="M34.4,52.7H4.6c-2.5,0-4.6-2.1-4.6-4.6V4.6C0,2.1,2.1,0,4.6,0h29.8C36.9,0,39,2.1,39,4.6v43.6
                C39,50.7,36.9,52.7,34.4,52.7z M4.6,2C3.2,2,2,3.2,2,4.6v43.6c0,1.4,1.2,2.6,2.6,2.6h29.8c1.4,0,2.6-1.2,2.6-2.6V4.6
                C37,3.2,35.8,2,34.4,2H4.6z"/>
              <g>
                <line class="st1" x1="1.2" y1="8.7" x2="37.8" y2="8.7"/>
                <rect x="1.2" y="7.7" class="st0" width="36.5" height="2"/>
              </g>
              <g>
                <line class="st1" x1="0.9" y1="42.7" x2="38.1" y2="42.7"/>
                <rect x="0.9" y="41.7" class="st0" width="37.2" height="2"/>
              </g>
              <circle class="st0" cx="19.5" cy="4.7" r="1"/>
              <path class="st0" d="M25.1,48H13.9c-0.4,0-0.8-0.4-0.8-0.8l0,0c0-0.4,0.4-0.8,0.8-0.8h11.2c0.4,0,0.8,0.4,0.8,0.8l0,0
                C25.9,47.6,25.5,48,25.1,48z"/>
              <g>
                <path class="st0" d="M34.2,38.2H5V13h29.2V38.2z M7,36.2h25.2V15H7V36.2z"/>
              </g>
              <g>
                <path class="st0" d="M19.6,33.3c-4.2,0-7.7-3.4-7.7-7.7c0-4.2,3.4-7.7,7.7-7.7c4.2,0,7.7,3.4,7.7,7.7
                  C27.2,29.8,23.8,33.3,19.6,33.3z M19.6,19.9c-3.1,0-5.7,2.5-5.7,5.7c0,3.1,2.5,5.7,5.7,5.7c3.1,0,5.7-2.5,5.7-5.7
                  C25.2,22.5,22.7,19.9,19.6,19.9z"/>
              </g>
            </g>
            </svg>
          </div>
          <div>
            <h3>Agile Approach</h3>
            <p>Our Hybrid agile practices and perfected delivery processes ensure that you are always in budget and in time. </p>
          </div>
        </div>

        <div>
          <div class="icon">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
 viewBox="0 0 39 52.8" style="enable-background:new 0 0 39 52.8;" xml:space="preserve">
            <g>
              <path class="st0" d="M34.4,52.7H4.6c-2.5,0-4.6-2.1-4.6-4.6V4.6C0,2.1,2.1,0,4.6,0h29.8C36.9,0,39,2.1,39,4.6v43.6
                C39,50.7,36.9,52.7,34.4,52.7z M4.6,2C3.2,2,2,3.2,2,4.6v43.6c0,1.4,1.2,2.6,2.6,2.6h29.8c1.4,0,2.6-1.2,2.6-2.6V4.6
                C37,3.2,35.8,2,34.4,2H4.6z"/>
              <g>
                <line class="st1" x1="1.2" y1="8.7" x2="37.8" y2="8.7"/>
                <rect x="1.2" y="7.7" class="st0" width="36.5" height="2"/>
              </g>
              <g>
                <line class="st1" x1="0.9" y1="42.7" x2="38.1" y2="42.7"/>
                <rect x="0.9" y="41.7" class="st0" width="37.2" height="2"/>
              </g>
              <circle class="st0" cx="19.5" cy="4.7" r="1"/>
              <path class="st0" d="M25.1,48H13.9c-0.4,0-0.8-0.4-0.8-0.8l0,0c0-0.4,0.4-0.8,0.8-0.8h11.2c0.4,0,0.8,0.4,0.8,0.8l0,0
                C25.9,47.6,25.5,48,25.1,48z"/>
              <g>
                <path class="st0" d="M34.2,38.2H5V13h29.2V38.2z M7,36.2h25.2V15H7V36.2z"/>
              </g>
              <g>
                <path class="st0" d="M19.6,33.3c-4.2,0-7.7-3.4-7.7-7.7c0-4.2,3.4-7.7,7.7-7.7c4.2,0,7.7,3.4,7.7,7.7
                  C27.2,29.8,23.8,33.3,19.6,33.3z M19.6,19.9c-3.1,0-5.7,2.5-5.7,5.7c0,3.1,2.5,5.7,5.7,5.7c3.1,0,5.7-2.5,5.7-5.7
                  C25.2,22.5,22.7,19.9,19.6,19.9z"/>
              </g>
            </g>
            </svg>
          </div>
          <div>
            <h3>Continuous Integration/Continuous Delivery</h3>
            <p>A memorable well-designed brand is key to business success, it helps you stand out in an overcrowded marketplace.</p>
          </div>
        </div>
      </div>
    </div>
  </div> 
</section>

  <section class="services-intro">
    <div class="wrap wrap-center wrap-center-narrow">
      <div class="section-spaced">
        <div class="section-summary">
          <h1 class="section-heading">How FreshJones can help your martech efforts</h1>
          <ul class="section-list">
            <li>Instant team of seasoned professional engineers</li>
            <li>Get the right advice for your unique business challenges, plan strategically and implement with a result-driven attitude</li>
            <li>Data-driven quantifiable martech solutions that justify and validate your decisions</li>
            <li>Know you have someone you can turn to when you need help without having to hand-hold or worry it won't get done or it won't get done right</li>
          </ul>
        </div>
      </div>
    </div> 
  </section>

  {{playbooks.consult('Lets Talk','marketing help for technology managers')}}

{% endblock %}
