<!-- index.nunjucks -->
{% extends "layout.nunjucks" %}

{% block title %}
  FreshJones - Wordpress Website Development
{% endblock %}

{% block header %}
  {{header.active('services')}}
{% endblock %}

{% block main %} 

  <section class="hero-stark">
    <div class="wrap wrap-center">
      <div class="section-summary">
        <h1 class="section-topic">WordPress Website Development</h1>
        <h2 class="section-heading">Get your message in your customers hands</h2>
        <p class="section-lead">Use direct mail to build personal connections with your customers.</p>
        <p>{{ button.link('/contact.html', 'Learn More') }}</p>
      </div>
    </div>
  </section>

  <section class="services-intro">
    <div class="wrap wrap-center wrap-center-narrow">
      <div class="section-spaced">
        <div class="section-summary">
          <h1 class="section-heading">Why Consider Promotional Materials?</h1>
        </div>
        <div>
          <ul class="section-list section-list-bullets section-list-columns">
            <li>Its easy to use</li>
            <li>You can manage your site from anywhere</li>
            <li>You dont need to be a designer or programmer to update your website</li>
            <li>Search engine friendly</li>
            <li>Lots of theme and design options available</li>
            <li>Easy to get up and running fast</li>
            <li>Lots of plugins for added functionality</li>
            <li>Easy to keep updated and secure</li>
            <li>Responsive designs out-of-the-box</li>
            <li>ECommerce available</li>
            <li>Social Media integration available</li>
            <li>Fast</li>
            <li>Scalable</li>
            <li>Community of developers</li>
            <li>You want to save money</li>
            <li>You want to be able to make edits anywhere on any computer</li>
            <li>You want to add your own content but you want to maintain a consistent design</li>
            <li>You want to be able to have some flexibility in the layout depending on different content types or different sections of your site</li>
            <li>You want to ensure your site is mobile ready</li>
            <li>You want to be able to schedule content to post on a specific date or time</li>
            <li>You want to easily be able to add rich content like images or video to your site</li>
            <li>You need something simple and don't want a huge learning curve</li>
            <li>You want a site that is secure and easy and free to update when necessary </li>
            <li>You want a site that allows you to add plugins when you want them without needing to pay a programmer to install it</li>
            <li>You want to create a business blog and use content marketing to build brand awareness, influence purchase considerations and buying decisions</li>
          </ul>
        </div>
      </div>
    </div> 
  </section>

  <section class="services-intro">
    <div class="wrap wrap-center wrap-center-narrow">
      <div class="section-spaced">
        <div class="section-summary">
          <h1 class="section-heading">How can FreshJones help with WordPress development</h1>
        </div>
        <div>
          <ul class="section-list section-list-bullets section-list-columns">
            <li>Help with deciding which CMS is right for your business</li>
            <li>Strategy</li>
            <li>Theme selection and customization</li>
            <li>Installation and setup</li>
            <li>Hosting</li>
            <li>Content development</li>
            <li>Content marketing</li>
            <li>SEO Strategy</li>
          </ul>
        </div>
      </div>
    </div> 
  </section>

  <section class="services-intro">
    <div class="wrap wrap-center wrap-center-narrow">
      <div class="section-spaced">
        <div class="section-summary">
          <h1 class="section-heading">Why would I choose WordPress over Drupal?</h1>
        </div>
        <div>
          <ul class="section-list section-list-bullets section-list-columns">
            <li>You business requirements for you website aren’t complicated</li>
            <li>You don't have a lot of products or categories of products to list on your site</li>
            <li>You don’t have a lot of use for different user roles and permissions</li>
            <li>You dont have a lot of different types of content and a need to add and create lots of different content types with different fields and ways of viewing that content</li>
            <li>You’re ok with using a design and theme that you can purchase as opposed to creating one specific to your business</li>
            <li>You really only want a blog and don't need much more beyond that</li>
            <li>You dont have a very big budget but you need a website and you need it fast</li>
            <li>You dont really need a unique and custom solution to meet your website needs</li>
            <li>You only need a blog or a small business website</li>
            <li>You need a website fast</li>
            <li>You don't have a budget but still need a website</li>
            <li>You’re really looking for a website to support your marketing efforts</li>
            <li>You dont need to be able to use your content outside of your website to populate other web or mobile based services such as syndications or product data feeds</li>
            <li>You dont need a multilingual or localized website</li>
          </ul>
        </div>
      </div>
    </div> 
  </section>

  <section class="services-intro">
    <div class="wrap wrap-center wrap-center-narrow">
      <div class="section-spaced">
        <div class="section-summary">
          <h1 class="section-heading">WordPress Services</h1>
        </div>
        <div>
          <ul class="flex-blocks flex-blocks-center">
            <li>Wordpress Development</li>
            <li>Wordpress Theme Development</li>
            <li>Wordpress Module Development</li>
            <li>Wordpress SEO</li>
            <li>Wordpress Support, Maintenance & Site Optimization</li>
            <li>Wordpress Training</li>
            <li>Wordpress Migration & Upgrades</li>
          </ul>
        </div>
        <div>
          <p>Not sure which solution is right for you? Give us a call we’ll help you determine the best options for your needs.</p>
          {{ button.link('/strategic-planning.html', 'Lets get started') }}
        </div>
      </div>
    </div> 
  </section>

  <section class="services-intro">
    <div class="wrap wrap-center wrap-center-narrow">
      <div class="section-spaced">
        <div class="section-summary">
          <h1 class="section-heading">Why would I need help developing a WordPress Website</h1>
        </div>
        <div>
          <ul class="section-list section-list-bullets section-list-columns">
            <li>You have a business to run!</li>
            <li>Your not a designer and care about providing a top-notch customer experience that is unique and specific to your business</li>
            <li>Your not a developer and want to ensure you site is secure, fast, error-free</li>
            <li>Your not sure how what is required of hosting a high-performing website</li>
            <li>You want to ensure your site is optimized for search engines</li>
            <li>You want to ensure your website is working hard for your business and want to ensure its built with a strategic approach and that it is able to evolve and change as your business need do</li>
            <li>You want help with not only getting your site running but also ensuring its working hard to accomplish your business goals for you</li>
          </ul>
        </div>
      </div>
    </div> 
  </section>

  <section class="services-intro">
    <div class="wrap wrap-center wrap-full wrap-center-narrow">
      <div class="section-spaced">
        <div class="section-summary">
          <h1 class="section-heading">Our Process</h1>
        </div>
        <div>
          <ul class="flex-blocks">
            <li>
              <div>
                <h3>Discovery and Strategy</h3>
              </div>
            </li>
            <li>
              <div>
                <h3>Information Architecture</h3>
              </div>
            </li>
            <li>
              <div>
                <h3>Creative Design</h3>
              </div>
            </li>
            <li>
              <div>
                <h3>Programming</h3>
              </div>
            </li>
            <li>
              <div>
                <h3>Deployment</h3>
              </div>
            </li>
            <li>
              <div>
                <h3>Determine</h3>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div> 
  </section>

  <section class="services-intro">
    <div class="wrap wrap-center wrap-center-narrow">
      <div class="section-spaced">
        <div class="section-summary">
          <h1 class="section-heading">What problems will a WordPress website help solve</h1>
        </div>
        <div>
          <ul class="section-list section-list-bullets section-list-columns">
            <li>Get to market faster</li>
            <li>Large community of developers</li>
            <li>Grows with your business</li>
            <li>Easily integrates with your complex internal data</li>
            <li>Publish once use anywhere - api-driven</li>
            <li>Integrates with most any other service</li>
            <li>Economical choice - open-source</li>
            <li>Full control of site, design, experience, everything</li>
          </ul>
        </div>
      </div>
    </div> 
  </section>

  <section class="services-intro">
    <div class="wrap wrap-center wrap-center-narrow">
      <div class="section-spaced">
        <div class="section-summary">
          <h1 class="section-heading">What makes a good WordPress website</h1>
        </div>
        <div>
          <ul class="section-list section-list-bullets section-list-columns">
            <li>Fast</li>
            <li>Responsive - Mobile</li>
            <li>Relevant content</li>
            <li>Great user experience</li>
            <li>Easy to use navigation</li>
            <li>Intuitive user interface</li>
            <li>Only install necessary modules</li>
            <li>Strategically focused on business goals</li>
            <li>Designed around target personas</li>
            <li>Organized</li>
            <li>Consistent design and ui</li>
            <li>Accessibility</li>
            <li>Search optimized</li>
            <li>Voice Optimized</li>
            <li>Schema</li>
            <li>On Brand</li>
            <li>Good typography</li>
            <li>Optimized code</li>
            <li>Coding standards</li>
            <li>Version controlled</li>
            <li>Easy to make edits</li>
            <li>SSL</li>
            <li>Integrated</li>
            <li>Reliable</li>
            <li>Engaging</li>
            <li>Easy Site Search</li>
            <li>Call to action easy to find</li>
            <li>Easy to see and read</li>
            <li>Focus on the user</li>
            <li>Focus on quality</li>
            <li>Keep it simple</li>
            <li>Be authentic</li>
          </ul>
        </div>
      </div>
    </div> 
  </section>



{% endblock %}
